# YouTube API
YOUTUBE_API_KEY=your_youtube_api_key_here

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=youtube_analytics
POSTGRES_USER=pipeline_user
POSTGRES_PASSWORD=your_password_here

# Pipeline config
TIME_WINDOW_DAYS=60
LOG_LEVEL=INFO